# pip install pandas

In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [4]:
print(pd.__doc__)

pandas - a powerful data analysis and manipulation library for Python
=====================================================================

**pandas** is a Python package providing fast, flexible, and expressive data
structures designed to make working with "relational" or "labeled" data both
easy and intuitive. It aims to be the fundamental high-level building block for
doing practical, **real world** data analysis in Python. Additionally, it has
the broader goal of becoming **the most powerful and flexible open source data
analysis / manipulation tool available in any language**. It is already well on
its way toward this goal.

Main Features
-------------
Here are just a few of the things that pandas does well:

  - Easy handling of missing data in floating point as well as non-floating
    point data.
  - Size mutability: columns can be inserted and deleted from DataFrame and
    higher dimensional objects
  - Automatic and explicit data alignment: objects can be explicitly aligned
    to a set of labels, or the user can simply ignore the labels and let
    `Series`, `DataFrame`, etc. automatically align the data for you in
    computations.
  - Powerful, flexible group by functionality to perform split-apply-combine
    operations on data sets, for both aggregating and transforming data.
  - Make it easy to convert ragged, differently-indexed data in other Python
    and NumPy data structures into DataFrame objects.
  - Intelligent label-based slicing, fancy indexing, and subsetting of large
    data sets.
  - Intuitive merging and joining data sets.
  - Flexible reshaping and pivoting of data sets.
  - Hierarchical labeling of axes (possible to have multiple labels per tick).
  - Robust IO tools for loading data from flat files (CSV and delimited),
    Excel files, databases, and saving/loading data from the ultrafast HDF5
    format.
  - Time series-specific functionality: date range generation and frequency
    conversion, moving window statistics, date shifting and lagging.

In [5]:
pd.Series([1, 2, 3])

0    1
1    2
2    3
dtype: int64

In [7]:
serie = pd.Series(["Rosu", "Negru", "Verde"])
serie

0     Rosu
1    Negru
2    Verde
dtype: object

In [10]:
type(serie), serie.dtypes

(pandas.core.series.Series, dtype('O'))

In [12]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [13]:
lista = [[11, 22, 33], [3, 4, 5]]
df = pd.DataFrame(lista)
df

    0   1   2
0  11  22  33
1   3   4   5

In [14]:
lista = [["Buna", "Ziua", "Seara"], [3, 4, 5]]
df = pd.DataFrame(lista)
df

      0     1      2
0  Buna  Ziua  Seara
1     3     4      5

In [15]:
dictionar = {
    "culori" : ["Rosu", "Negru", "verde"],
    "numere" : [10, 20, 30]
}

df = pd.DataFrame(dictionar)
df

  culori  numere
0   Rosu      10
1  Negru      20
2  verde      30

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   culori  3 non-null      object
 1   numere  3 non-null      int64
dtypes: int64(1), object(1)
memory usage: 180.0+ bytes

In [19]:
df["culori"], type(df["culori"]), type(df)

(0     Rosu
 1    Negru
 2    verde
 Name: culori, dtype: object,
 pandas.core.series.Series,
 pandas.core.frame.DataFrame)

In [20]:
df[ df["numere"] < 30]

  culori  numere
0   Rosu      10
1  Negru      20